<div class="card-container">

    <div class="list-container">

        <p-card header="Flores Amarillas en el Mundo para Ti">
            <p class="m-0">
                Esta es una lista de flores amarillas que puedes encontrar en el mundo. Las flores amarillas son una de
                las más hermosas y brillantes que puedes encontrar en la naturaleza. Esto lo hice para ti, espero que te
                guste. Pese a la distancia y el tiempo, siempre intentare estar cerca de ti y demostrarte que te quiero
                de una u otra manera, te amo.
            </p>
        </p-card>

    </div>

    <div class="card flower-info-container" *ngIf="selectedFlower !== null">
        <p-card header="{{ selectedFlower.name }}" >
            <p-scrollPanel [style]="{ width: '100%', height: '210px' }">

                <div class="container">
                    <p-image 
                        src="{{ selectedFlower.img }}"
                        alt="{{ selectedFlower.name }}"
                    />
                </div>

                <div class="container">
                    <p>
                        <strong>Descripción:</strong> {{ selectedFlower.description }}
                    </p>
                </div>
                
                <div class="container">
                    <p>
                        <strong>Leyenda:</strong> {{ selectedFlower.leyend }}
                    </p>
                </div>
                <div class="container">
                    <p-image
                        src="{{ selectedFlower.ubicationImg}}"
                    />
                    <p id="ubication-p">
                        <strong>Ubicación</strong> {{selectedFlower.ubicationDescription}}
                    </p>
                </div>

                
            </p-scrollPanel>
        </p-card>

    </div>

</div>